@tailwind base;
@tailwind components;
@tailwind utilities;

.dark:root {
  color-scheme: dark;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}